@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap' );
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&family=Syne:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@layer base{

  @theme{
    --font-shock:'Syne', sans-serif;
  }
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
  }
}

body{
  color:#fff;
  background-color:#4A5568;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  overflow:hidden;
}

html{
  scroll-behavior:smooth;
}